IndentWidth: 4
BreakBeforeBraces: Attach
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortCaseExpressionOnASingleLine: true
AlignConsecutiveShortCaseStatements:
    Enabled: true
    AcrossEmptyLines: true
    AcrossComments: true
    AlignCaseColons: false
AllowShortEnumsOnASingleLine: true
AllowAllConstructorInitializersOnNextLine: true
BinPackArguments: false
BinPackParameters: false
AlignAfterOpenBracket: Align
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
AlignEscapedNewlines: Left
AlignOperands: true
AlignTrailingComments: true
Cpp11BracedListStyle: true
PointerAlignment: Left
AlwaysBreakAfterReturnType: None
InsertNewlineAtEOF: true
AlignConsecutiveBitFields: true
WrapNamespaceBodyWithEmptyLines: Always
FixNamespaceComments: true
ShortNamespaceLines: 0
AllowShortNamespacesOnASingleLine: true
IndentPPDirectives: AfterHash
LineEnding: LF
RemoveEmptyLinesInUnwrappedLines: true
EnumTrailingComma: Insert
IndentRequiresClause: true
InsertBraces: true
IntegerLiteralSeparator:
    Binary: 0
    Decimal: 3
    Hex: -1
