[submodule "vendor/libtinyfiledialogs"]
	path = vendor/libtinyfiledialogs
	url = https://github.com/native-toolkit/libtinyfiledialogs

[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui

[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/epezent/implot

[submodule "vendor/opencv"]
	path = vendor/opencv
	url = https://github.com/opencv/opencv

[submodule "vendor/sokol"]
	path = vendor/sokol
	url = https://github.com/floooh/sokol
	
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "vendor/ixwebsocket"]
	path = vendor/ixwebsocket
	url = https://github.com/machinezone/IXWebSocket

[submodule "vendor/ffmpeg"]
	path = vendor/ffmpeg
	url = https://github.com/trevorswan11/ffmpeg

[submodule "vendor/taglib"]
	path = vendor/taglib
	url = https://github.com/taglib/taglib
