[submodule "vendor/libtinyfiledialogs"]
	path = vendor/libtinyfiledialogs
	url = https://github.com/native-toolkit/libtinyfiledialogs

[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui

[submodule "vendor/implot"]
	path = vendor/implot
	url = https://github.com/epezent/implot

[submodule "vendor/opencv"]
	path = vendor/opencv
	url = https://github.com/opencv/opencv

[submodule "vendor/sokol"]
	path = vendor/sokol
	url = https://github.com/floooh/sokol

[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog

[submodule "vendor/ixwebsocket"]
	path = vendor/ixwebsocket
	url = https://github.com/machinezone/IXWebSocket

[submodule "vendor/taglib"]
	path = vendor/taglib
	url = https://github.com/taglib/taglib

[submodule "vendor/serial"]
	path = vendor/serial
	url = https://github.com/wjwwood/serial

[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json

[submodule "vendor/fmt"]
	path = vendor/fmt
	url = https://github.com/fmtlib/fmt

[submodule "vendor/gsl"]
	path = vendor/gsl
	url = https://github.com/microsoft/gsl

[submodule "vendor/magic_enum"]
	path = vendor/magic_enum
	url = https://github.com/Neargye/magic_enum

[submodule "vendor/unordered_dense"]
	path = vendor/unordered_dense
	url = https://github.com/martinus/unordered_dense
