tests/test_framework/** linguist-vendored
vendor/** linguist-vendored

* text eol=lf

*.c      text eol=lf
*.cpp    text eol=lf
*.h      text eol=lf
*.hpp    text eol=lf
*.m      text eol=lf
*.mm     text eol=lf
*.ino    text eol=lf

*.sh     text eol=lf
*.bat    text eol=crlf

.clang-format text eol=lf